@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Pacifico&family=Yantramanav:wght@300&display=swap');

h1{
    font-family: "Pacifico";
    font-weight: 300;
    color:#184D75;
}

h2,h3,a{
    font-family: "Delius Swash Caps";
    color:#8c382a;
}

p,li{
    font-family: "Yantramanav";
    color:#8c382a;;
}

img{
    border-radius: 50%;
}

section{
    border:solid 3px #184D75;
    display: flex;
    flex-direction: column;
}

#container_ingredientes_preparacion{
display: flex;
}

#ingredientes{
    border: solid 2px #8c382a;
   
}

#preparacion{
    border: solid 2px #8c382a;
    
}